<div class="container index">

  <div class="row">
   <form class="col s12" id="searchBox">
       <div class="input-field">
         <h1 class="searchHelp">Today, I want to run&nbsp;</h1>
         <input id="distance" type="number" min="0" ng-model="search">
         <h1 class="searchHelp">&nbsp;miles.</h1>
       </div>
     </form>
   </div>

  <div id="results" ng-show="search">
    <div class="divider"></div>
    <h3>You recently logged these <span ng-bind="search"></span> mile runs:</h3>
    <div class="row">
      <div class="col s12 m4" ng-repeat="route in routesIndexCtrl.range(routesIndexCtrl.routes, search)" >
        <div class="card">
          <div class="card-image">
            <ui-gmap-google-map center="route.start" zoom="12"  options="routesIndexCtrl.options">
              <ui-gmap-polyline path="route.path" stroke="routesIndexCtrl.stroke" visible='true'></ui-gmap-polyline>
            </ui-gmap-google-map>
          </div>
          <div class="card-content">
            <span class="card-title">{{route.name}}</span>
            <ul>
              <li>Distance: {{route.distance}} miles</li>
              <li>Last Run: {{routesIndexCtrl.formatDate(route.last_completed)}} </li>
              <li>Average Time: {{routesIndexCtrl.formatTime(route.avg_time)}} </li>
              <li>Average Pace: {{routesIndexCtrl.formatPace(route.avg_pace)}}</li>
           </ul>
          </div>
          <div class="card-action">
            <a ng-href="routes/{{route.id}}">View Details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="btn btn-primary" ng-click="routesIndexCtrl.moreResults()" ng-if="routesIndexCtrl.moreAvailable">more</div>
  </div>

</div>
