<div class="container">

  <div class="row">
    <h1>Today I want to run</h1>
     <form class="col s12">
       <div class="row">
         <div class="input-field col s1">
           <input id="distance" type="number" min="0" ng-model="search">
         </div>
     </form>
     <h1>  miles.</h1>
   </div>

   <div id="results" ng-show="search">
     <h3>You recently logged these <span id="searchDistance"></span> mile runs:</h3>

     <div class="row">
       <!-- <div class="col s12 m4" ng-repeat="route in routesIndexCtrl.routes"  ng-if="routesIndexCtrl.searchFilter(route.distance, search)"> -->
      <div class="col s12 m4" ng-repeat="route in routesIndexCtrl.range(routesIndexCtrl.routes, search)" >
         <div class="card">
           <div class="card-image">
             <ui-gmap-google-map center="route.start" zoom="12"  options="routesIndexCtrl.options">
               <ui-gmap-polyline path="route.path" stroke="routesIndexCtrl.stroke" visible='true'></ui-gmap-polyline>
             </ui-gmap-google-map>
           </div>
             <span class="card-title">{{route.name}}</span>
           </div>
           <div class="card-content">
             <ul>
               <li>Distance: {{route.distance}} miles</li>
               <li>Last Run: {{routesIndexCtrl.formatDate(route.last_completed)}} </li>
               <li>Average Time: {{routesIndexCtrl.formatTime(route.avg_time)}} </li>
               <li>Average Pace: {{routesIndexCtrl.formatPace(route.avg_pace)}}</li>
             </ul>
           </div>
           <div class="card-action">
             <a ng-href="routes/{{route.id}}">View Details</a>
           </div>
         </div>
         <div class="btn btn-primary" ng-click="routesIndexCtrl.moreResults()">more</div>
       </div>
     </div>

   </div>

</div>
