<div class="container" ng-controller="RoutesShowController as routesShowCtrl">

  <div class="row">
    <div class="col s6">
      <h2>{{routesShowCtrl.route.name}}</h2>
    </div>
    <div class="col s1 offset-s5">
      <i class="fa fa-star-o fa-3x" aria-hidden="true"></i>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <img src="http://placecorgi.com/800/400" class="col s12"> <!-- Replace this with a map -->
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <h5>Distance: {{routesShowCtrl.formatDistance(routesShowCtrl.route.distance)}} miles</h5>
      <h5>Average Time Elapsed: {{routesShowCtrl.formatTime(routesShowCtrl.route.avg_time)}}</h5>
      <h5>Average Pace: {{routesShowCtrl.formatPace(routesShowCtrl.route.avg_pace)}} min/mi</h5>
    </div>
    <div class="col s12 m6">
      <h5>Tags:</h5>
      <div class="chip" ng-repeat="tag in routesShowCtrl.route.tags">{{tag}}</div>
    </div>
  </div>

  <div class="divider"></div>

  <h4>Recent Efforts</h4>
  <table>
    <tr>
      <th>Date</th>
      <th>Elapsed Time</th>
      <th>Average Pace</th>
      <th>Activity Name</th>
    </tr>
    <tr ng-repeat="a in routesShowCtrl.activities | orderBy: '-date'">
      <td>{{routesShowCtrl.formatDate(a.date)}}</td>
      <td>{{routesShowCtrl.formatTime(a.time)}}</td>
      <td>{{routesShowCtrl.formatPace(a.pace)}} min/mi</td>
      <td><a href="https://www.strava.com/activities/{{a.strava_id}}" target="_blank">{{a.name}}</a></td>
    </tr>
  </table>

</div>
