<br />
<div class="container">

  <div class="row">

    <div class="col s12 m4">
      <img src="{{usersShowCtrl.user.image_url}}" id="profPic" />
      <h4 ng-cloak>{{usersShowCtrl.user.first_name}} {{usersShowCtrl.user.last_name}}</h4>
      <h5 ng-cloak>From {{usersShowCtrl.user.city}}, {{usersShowCtrl.user.state}}</h5>
      <h5 ng-cloak>Joined {{usersShowCtrl.formatDate(usersShowCtrl.user.created_at)}}</h5>
      <h5 ng-cloak>Distinct routes: {{usersShowCtrl.routeCount}}</h5>
      <h5 ng-cloak><a href="https://www.strava.com/athletes/{{usersShowCtrl.user.strava_id}}" target="_blank">Strava Profile</a></h5>
    </div>

    <div class="col s12 m8 routeList">
      <h4>Favorite Routes:</h4>
      <div class="row">
        <div ng-repeat="route in usersShowCtrl.routes" class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <ui-gmap-google-map center="route.start" zoom="12"  options="usersShowCtrl.options">
                <ui-gmap-polyline path="route.path" stroke="usersShowCtrl.stroke" visible='true'></ui-gmap-polyline>
              </ui-gmap-google-map>
            </div>
            <span class="card-title more-link">{{route.name}}</span>
            <a class="pull-right more-link" ng-href="/routes/{{route.id}}">More&nbsp;&nbsp;</a>
          </div>
        </div>
      </div>
    </div>

</div>
