<body>

  <header>
    <nav class="grey">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">picka.run</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Sign up with Strava</a></li>
          <li><a href="#">Log in</a></li>
      </div>
    </nav>
  </header>

  <main>
    <div ng-view></div>
  </main>

  <footer class="page-footer grey">
    <div class="footer-copyright">
      <div class="container">
        Created by Melissa Carlson
      <a class="grey-text text-lighten-4 right" href="#!">Check out picka.run on GitHub</a>
      </div>
    </div>
  </footer>

</body>
