// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav-wrapper {
  margin: 0px 20px;
}

#hero {
  min-height: 500px;
  background-image: url("/images/splash.jpeg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: 10% 75%;
  position: relative;
}

#hero .btn-large {
  position: absolute;
  right: 40px;
  bottom: 20px;
}

#distance {
  font-size: 40px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}
