// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, h2, h3, h4, a {
  font-family: 'Raleway', sans-serif;
}

.nav-wrapper {
  margin: 0px 20px;
}

#hero {
  min-height: 500px;
  background-image: image-url("splash.jpeg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: 10% 75%;
  position: relative;
}

#hero .btn-large {
  position: absolute;
  right: 40px;
  bottom: 20px;
}

.searchHelp {
  display: inline;
}

#distance {
  font-size: 58px;
  width: 85px;
  height: 60px;
  display: inline;
  text-align: center;
}

// remove scroll from number input
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}
// end remove scroll

.favorite-star {
  margin-top: 30px;
  margin-right: 10px;
}

.angular-google-map-container {
  height: 250px;
}

.mapWrap .angular-google-map-container {
  height: 400px;
}

.chip {
  margin-right: 10px;
}

// remove logos from maps
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
    box-shadow: none !important;
}
// end remove logo

main {
  min-height: 85vh;
}

#profPic {
  width: 60%;
  margin: auto;
  padding-top: 30px;
}

.more-link {
  margin-top: 8px;
  margin-left: 10px;
}

#searchBox {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

#nameEdit {
  font-size: 3.5em;
  min-height: 60px;
  margin-top: 50px;
}

#routeTitle {
  padding-top: 20px;
}

.fa-pencil {
  font-size: .5em;
}

footer a {
  color: white;
}

#about-box {
  margin: 80px auto 80px auto;
}

#about-box p {
  font-size: 20px;
}

a {
  color: #FF5722
}

#about-box i {
  color: #FF5722
}

#actions {
  text-align: center;
  margin-bottom: 20px;
}

.centered {
  text-align:center;
}

.chip {
  background-color: #FF5722;
  color: white;
}
